{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>オリックスバファローズ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li class="current"><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>
<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s" style="display: none;">
	<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="buf">オリックスバファローズ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">00</th>
	<th class="p_name">西浦颯大</th>
	<td>風斬り裂くユニフォーム MAX全開フル加速 豪脚足攻ブッチギリ 光速DASHの速男</td>
</tr>
<tr>
	<th class="p_num">2</th>
	<th class="p_name">白崎浩之</th>
	<td>
		【前奏：白崎! 白崎! 白崎! Wow!】<br>
		烈しく叩けストレート 巧く捌け変化球 如何なる球も的確に 仕留めてみせろ一振りで
<br>
	</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">安達了一</th>
	<td>【A】猛れ雄々しく行け 本能の侭に 気魄出してここで今見せろ 力振り絞れ<br>
		【ブリッジ】我武者羅に喰らいつけ<br>
		【B】上州男が張っ飛ばす! 了一! 了一! 張っ飛ばせー!</td>
</tr>
<tr>
	<th class="p_num">4</th>
	<th class="p_name">福田周平</th>
	<td>
		【前奏：機先を制するため ここで口火を鑽れ】<br>
		勇み立てよ 覚悟を決めた心で 雄渾と戦う様は 勝鬨誘う
	</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">西野真弘</th>
	<td>【1】動きまわる元気 誰にも負けない 明日へと続く道を拓け 前だけ見て<br>
		【2】怯まぬ精神 失わぬ気力 頑なに 貫き通せ<br>
	</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">宗佑磨</th>
	<td>胸の奥で熱く滾る 想い全て出し切れ 壮絶な争いに 勝ち残れ最後まで</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">後藤駿太</th>
	<td>【前奏：行け! 走れ! Go! 駿太】<br>
		容赦なく切り貫け 迫る敵を薙ぎ払え 上野の駿馬よ 走り続けろ</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">大城滉二</th>
	<td>【前奏：君よ輝けとただ願う この想い いつまでも この詩に乗せて】<br>
		逞しく咲き誇る サンタンカの花の様に 強く熱く気概を以ち 行けよ 凜々しき強者</td>
</tr>
<tr>
	<th class="p_num">34</th>
	<th class="p_name">吉田正尚</th>
	<td>(A)力を求める限り 幾多の困難乗り越え 前人未到の境地 辿り着く男の名は<br>
		(B)オイ! オイ! オイ! オイ! オイ! それ正尚! オー オイ! それかっ飛ばせ<br>
		【境地Ver】<br>
		(イントロ)オー… 正尚!<br>
		(A)オイ! オイ!… 吉田!<br>
		(サビ)その力 ここで 魅せろ! 魅せろ!　全身全霊 懸けろ! 懸けろ!
	</td>
</tr>
<tr>
	<th class="p_num">37</th>
	<th class="p_name">若月健矢</th>
	<td>【A】健矢 揺るぎなき決意 底知れぬ覇気が力と成る 果てなき その念いが 笑顔の輪をつくる<br>
		【B】捕み取れ その努力で</td>
</tr>
<tr>
	<th class="p_num">38</th>
	<th class="p_name">小島脩平</th>
	<td>心磨き技を鍛え 凌ぎを交わした その努力糧にして 気高く咲きゆけ</td>
</tr>
<tr>
	<th class="p_num">44</th>
	<th class="p_name">頓宮裕真</th>
	<td>行くぞユーマー ホームラン Vを目指して それ行けユーマー</td>
</tr>
<tr>
	<th class="p_num">50</th>
	<th class="p_name">小田裕也</th>
	<td>類い稀なる脚で フィールド走り抜け 奪い取れ さぁ行け 疾風になれ</td>
</tr>
<tr>
	<th class="p_num">55</th>
	<th class="p_name">T-岡田</th>
	<td>T! HOMERUN KING T! T! T.rex 遠く 遠く 派手に飛ばせ ナニワの轟砲<br>
		【チャンスVer】<br>
		T! HOMERUN KING T! T! T.rex ここで決める男 このチャンスをものにしろ 遠く 遠く 派手に飛ばせ ナニワの轟砲
	</td>
</tr>
<tr>
	<th class="p_num">62</th>
	<th class="p_name">杉本裕太郎
	</th>
	<td>混沌する戦場で 狼煙を上げる 目の覚める弾道 敵を怯ませる</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">メインテーマ</th>
	<td>ぶつけろ熱意 無限の可能性 流した汗力に変える 志天高く</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">外国人汎用</th>
	<td>野望抱き海を越え この地で名を馳せろ 新たな伝説を ここに刻め</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">代打</th>
	<td>【1】ウグイスコールに颯爽と 素振り二回足固め ここが腕の見せどころ 輝く時が来た<br>
		【2】鏡の前で汗をかき 与えられたこの打席 女房子供を食わすため 必ず仕事する</td>
</tr>

</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
