{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>広島東洋カープ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="{% url 'top' %}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="car">広島東洋カープ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">1</th>
	<th class="p_name">鈴木誠也</th>
	<td>誠の道進み チームに流れを呼べ 荒川から架けろ 夢の赤い橋</td>
</tr>
<tr>
	<th class="p_num">2</th>
	<th class="p_name">田中広輔</th>
	<td>
		赤く燃え上がる 夢見たこの世界で 研ぎ澄ませそのセンス 打てよ広輔<br>
	</td>
</tr>
<tr>
	<th class="p_num">4</th>
	<th class="p_name">小窪哲也</th>
	<td>(前奏)♪~こ!♪~く!♪~ぼ!♪~こ!く!ぼ!<br>
		鋭く引っ張って 華麗に流し打ち 基本はセンター返し それが小窪哲也</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">長野久義</th>
	<td>
		歓声を背に受け　頂(いただき)を見つめて　紅(くれない)　一筋に　突き進め長野 　
	</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">安部友裕</th>
	<td>新しい時代に 今手を伸ばせ 終わらぬ夢の先に 導いてくれ<br>
	</td>
</tr>
<tr>
	<th class="p_num">7</th>
	<th class="p_name">堂林翔太</th>
	<td>光輝く その道を 翔(か)けぬけて 魅せろ 堂林 SHOW TIME!</td>
</tr>
<tr>
	<th class="p_num">27</th>
	<th class="p_name">會澤翼</th>
	<td>いざ大空へ翔ばたけ 熱い想い乗せ 勝利へ導く一打 決めろよ翼</td>
</tr>
<tr>
	<th class="p_num">31</th>
	<th class="p_name">石原慶幸</th>
	<td>南の夜空に赤く輝く いちばん星 広島に優勝(ゆめ)を運ぶ 石原慶幸</td>
</tr>
<tr>
	<th class="p_num">33</th>
	<th class="p_name">菊池涼介</th>
	<td>(ファンファーレ)始まりの鐘が鳴る~ 菊池! 広島伝説~<br>
		光を追い越して メーター振りきり駆け抜けろ 止まらないぜ 韋駄天菊池</td>
</tr>
<tr>
	<th class="p_num">37</th>
	<th class="p_name">野間峻祥</th>
	<td>鋭い打球飛ばせ 自慢の俊足見せろ 赤い流星のように 走れタカヨシ</td>
</tr>
<tr>
	<th class="p_num">40</th>
	<th class="p_name">磯村嘉孝</th>
	<td>(前奏)当たると痛えぞ　磯村パンチ<br>
		解き放てよ　この瞬間　エンジン全開　さあスパーク
		いざ満タン　フルパワーで　撃て　磯村パンチ 　</td>
</tr>
<tr>
	<th class="p_num">51</th>
	<th class="p_name">小園海斗</th>
	<td>新たな息吹を　注ぎ込め
		世代のトップを走れ　ぶっちぎれ</td>
</tr>
<tr>
	<th class="p_num">55</th>
	<th class="p_name">松山竜平</th>
	<td>闘志を燃やし 鋭く振りぬけ さぁかっとばせ さぁ打ちまくれ 我等の松山</td>
</tr>
<tr>
	<th class="p_num">63</th>
	<th class="p_name">西川龍馬</th>
	<td>気高きその勇姿 比(なら)ぶ者は無いさ 我等に希望の光 見せてくれ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">助っ人外国人テーマ</th>
	<td>海を渡ってやって来た みんなの夢を 大きくつかもうぜ 遥かなる空に</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">跳ねろ若鯉</th>
	<td>頂上突撃 ○○! 命燃やせ ○○! 強く高く 跳ねろ若鯉</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">汎用テーマ</th>
	<td>♪~ ○○! ♪~ ○○! さぁ勝利への道 切り拓(ひら)け</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手テーマ</th>
	<td>振らな 何も 始まらないから 強気でいちかばちか フルスイング</td>
</tr>

</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="{% url 'top' %}">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
