{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>このサイトについて</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="{% url 'top' %}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2>当サイトについて</h2>
<p>
	プロ野球全球団の応援歌をまとめたサイトです。<br>
	シンプルかつわかりやすく、皆さんが応援歌を覚える際に手助けとなるような応援歌まとめサイトを目指しています。<br>
	そのため、現時点では現役選手で現在使われている応援歌のみ掲載させて頂いています。<br>
</p>

<h2>応援歌について</h2>
<p>
	応援歌の権利一切は各応援団様、球団様、各制作者様に帰属致します。<br>
	当サイトはあくまで参照・引用の上、見やすくご紹介させて頂いています。<br>
</p>

<h2>歌詞の表記について</h2>
<p>
	歌詞の表記に関しては、基本的に引用先の通りに表記していますが、わかりやすくするため次のように一部表記を変更している箇所がございます。<br>
	・前奏　→【前奏：〜〜〜】<br>
	・ファンファーレ　→　【ファンファーレ：〜〜〜】<br>
	・選手名　→　〇〇<br>
	・シャウト　→　「〇〇！」　または　〇〇！<br>
	・チャンスバージョン　→　《チャンスVer》<br>
	・１番、２番　→　《1》、《2》<br>
	・ドラム　→　×<br>

</p>

<h2>プライバシーポリシー</h2>
<p>coming soon...</p>

<h2>お問い合わせ</h2>
<p>coming soon...</p>
</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<section>



</section>


<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">

<section>


</section>

<nav>
<!--
<h2>Contents</h2>
<ul class="submenu">
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>

-->
</nav>


</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>
<!--
<div id="footermenu" class="inner">
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
<ul>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
<li><a href="#">メニューサンプル</a></li>
</ul>
</div>
-->
<!--/footermenu-->

<div id="copyright">
<small>Copyright&copy; <a href="{% url 'top' %}">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
