{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>東北楽天ゴールデンイーグルス</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="eag">東北楽天ゴールデンイーグルス　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">3</th>
	<th class="p_name">浅村栄斗</th>
	<td>【前奏：スタンドへ叩き込め 浅村】<br>
		燃え上がれ ここで燃え上がれ 浅村打て 浅村打て 叩き込め</td>
</tr>
<tr>
	<th class="p_num">4</th>
	<th class="p_name">桑原将志</th>
	<td>
		オオーオオー レッツゴーオコエ<br>
		オオーオオオオ レッツゴーオコエ(ルイルイ!)<br>
		オオーオオー レッツゴーオコエ<br>
		打てオコエ瑠偉<br>
	</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">茂木英五郎</th>
	<td>茂木栄五郎 茂木栄五郎 勝利に向かってフルスイング</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">藤田一也</th>
	<td>
		勝利を信じて ひたむきに進め 終わり無き道を今 駆け抜けろ藤田
	</td>
</tr>
<tr>
	<th class="p_num">7</th>
	<th class="p_name">鈴木大地</th>
	<td>大地 勝利のために 熱い気持ち込めて東北の夢を 背負い戦うヒーロー<br>
	</td>
</tr>
<tr>
	<th class="p_num">25</th>
	<th class="p_name">田中和基</th>
	<td>GO! GO! 和基 GO! GO! 和基 和基 田中和基 GO! GO! 和基</td>
</tr>
<tr>
	<th class="p_num">26</th>
	<th class="p_name">渡辺直人</th>
	<td>進め! 真っ直ぐに 栄光に向かって 風を切り裂いて走れ 我らの直人</td>
</tr>
<tr>
	<th class="p_num">27</th>
	<th class="p_name">大和</th>
	<td>チャンスを掴め目指せ勝利 岡島豪郎 俊足・巧打・守り抜け 魂込めて<br>
		オオオオオ オオオオオ オオオオオオオ オイ!</td>
</tr>
<tr>
	<th class="p_num">33</th>
	<th class="p_name">銀次</th>
	<td>夢乗せて 放て鋭い一打 打て! 銀次! 勝利のために</td>
</tr>
<tr>
	<th class="p_num">35</th>
	<th class="p_name">島内宏明</th>
	<td>ここで島内 勝利の一打 オオオ… オオオ…</td>
</tr>
<tr>
	<th class="p_num">40</th>
	<th class="p_name">ウィーラー</th>
	<td>溢れるパワー 見せつけろ闘志 戦うのさ いざ逞しく ぶっ飛ばせさぁ ウィーラー</td>
</tr>
<tr>
	<th class="p_num">44</th>
	<th class="p_name">足立祐一</th>
	<td>その力と技で ボールを弾き返せ 足立祐一 遠くへ飛ばせ</td>
</tr>
<tr>
	<th class="p_num">69</th>
	<th class="p_name">ブラッシュ</th>
	<td>みんなが待ってるホームラン(JB!)<br>
		みんなが待ってるホームラン(JB!)<br>
		弾丸ライナー飛んでゆけ(JB!)<br>
		はるか遠く</td>
</tr>

<tr>
	<th class="p_num"></th>
	<th class="p_name">汎用テーマ</th>
	<td>ここで一発 かっ飛ばせ! 打てよ○○
	</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">汎用テーマ2</th>
	<td>迷わずいざ進め 若鷲よ飛べ 巻き起こせ 新たな風を</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">共通テーマ</th>
	<td>レッツゴー! レッツゴー! レッツゴー○○</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">外国人汎用</th>
	<td>【英語Ver】<br>
		レッツゴー レッツゴー ホームラン ○○ オオオオオオオ<br>
		レッツゴー レッツゴー ホームラン ○○ オオオオオオオ<br>
		【スペイン語Ver】<br>
		バモス バモス アニモ ○○ オオオオオオオ<br>
		バモス バモス アニモ ○○ オオオオオオオ
	</td>
</tr>
</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
