{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>北海道日本ハムファイターズ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>
<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s" style="display: none;">
	<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="fig">北海道日本ハムファイターズ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">2</th>
	<th class="p_name">杉谷拳士</th>
	<td>授かりしその力で　描いた景色は
		横浜で輝く　おのれの勇姿</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">王柏融</th>
	<td>
		【前奏：最強王! 金牌王! オイ! オイ! 柏融大王! オイ! オイ! 最強王! 金牌王! 最強金牌 柏融大王!】<br>
		磨き上げてきた 力と技術で 強敵を打ち崩す 全壘打 柏融<br>
	</td>
</tr>
<tr>
	<th class="p_num">4</th>
	<th class="p_name">谷口雄也</th>
	<td>尽き果てぬ想い 一振りに託し 止めどなく闘う男 谷口雄也</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">大田泰示</th>
	<td>
		滾る想い胸に 全てぶつけろ 魅せろこの場所で 夢の続きを
	</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">中田翔</th>
	<td>勝負決める一振り 血と汗の勲章 その手で夢掴め さぁ翔け中田<br>
	</td>
</tr>
<tr>
	<th class="p_num">7</th>
	<th class="p_name">西川遥輝</th>
	<td>今だ西川 遥かに続いた道を 走れ西川 輝くその日まで</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">近藤健介</th>
	<td>さぁ狙いを定め 遠く遠く飛ばせ 眩く光る時代 近藤 築き上げろ</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">中島卓也</th>
	<td>踏み出した姿に 最高の期待込めて 今、頂目指し進め 挑み勝て中島</td>
</tr>
<tr>
	<th class="p_num">10</th>
	<th class="p_name">清水優心</th>
	<td>燃え盛れ清水 いざ打ち勝て 冴え渡るリード 未来へ導け</td>
</tr>
<tr>
	<th class="p_num">12</th>
	<th class="p_name">松本剛</th>
	<td>剛の熱情は 鉄さえ溶かす 今開く歴史 進め光目指して</td>
</tr>
<tr>
	<th class="p_num">21</th>
	<th class="p_name">清宮幸太郎</th>
	<td>描き出す 理想は久遠高く 鍛えし腕で 清宮打て</td>
</tr>
<tr>
	<th class="p_num">22</th>
	<th class="p_name">鶴岡慎也</th>
	<td>攻守に輝き放つ 今日も星を掴み取れ 鶴岡慎也</td>
</tr>
<tr>
	<th class="p_num">23</th>
	<th class="p_name">渡邉諒</th>
	<td>夢の欠片 信じた証が今 手を伸ばして さぁ掴め 輝く未来</td>
</tr>
<tr>
	<th class="p_num">26</th>
	<th class="p_name">淺間大基</th>
	<td>シャープに決めるバッティング 風斬るスピードと 敵を仕留める強肩で 勝ちへと繋げ</td>
</tr>
<tr>
	<th class="p_num">38</th>
	<th class="p_name">石井一成</th>
	<td>鋭いスイングで 敵を倒せ いまだ見ぬ境地 一成突っ走れ</td>
</tr>
<tr>
	<th class="p_num">58</th>
	<th class="p_name">横尾俊建</th>
	<td>フルスイングで 吹き込む勝利の風 放つ打球はスタンドへ 届くホームラン</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手用テーマ</th>
	<td>我らの期待を 右(左)腕に懸けて 今魅せろ○○ 全力で行け</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">メインテーマ1</th>
	<td>勝利を誘う 晴れ舞台 みなぎる闘志を ぶつけろ○○</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">メインテーマ2</th>
	<td>行けそれ行け 打てそれ打て 走れここで輝け Let's Go FIGHTERS</td>
</tr>
</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
