{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>読売ジャイアンツ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="{% url 'top' %}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="gia">読売ジャイアンツ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">2</th>
	<th class="p_name">陽岱鋼</th>
	<td>遠く強く飛ばせ 振り抜け 走り出せ「オイ！」 飛び込め つかみ取れ 魅せる男 陽岱鋼</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">中島宏之</th>
	<td>
		吠えろ中島 不屈の戦士 狙い定め 叩け 振り抜け さあ勝利の雄叫びだ<br>
	</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">坂本勇人</th>
	<td>【前奏：オオオ… オー燃えろ「坂本！」】<br>
		誰よりも強く勇ましく オオオ… お前が立つその場所は熱気の渦が巻く 坂本 炎となれ</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">丸佳浩</th>
	<td>誰より強く さらなる高みへ この大歓声が 君の味方だ さあ我らと行こう 丸佳浩</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">亀井善行</th>
	<td>
		どこまでも駆け抜けろ 地平の彼方目指し 亀井ガムシャラに 追い続けろ
	</td>
</tr>
<tr>
	<th class="p_num">15</th>
	<th class="p_name">澤村拓一</th>
	<td>鉄の右腕がうなり上げ 打者をなぎ倒す その名世代に轟かす 王者澤村投げ抜け<br>
	</td>
</tr>
<tr>
	<th class="p_num">17</th>
	<th class="p_name">大竹寛</th>
	<td>寛大な立ち姿 気迫に満ちた心 勝ち星握る その手で夢つかめ</td>
</tr>
<tr>
	<th class="p_num">18</th>
	<th class="p_name">菅野智之</th>
	<td>揺るがぬ想い その腕に 魂込めたストレート 勝利へ続く道 進め 菅野智之</td>
</tr>
<tr>
	<th class="p_num">21</th>
	<th class="p_name">岩隈久志</th>
	<td>大きな志 胸に抱き 決めろ意のままに ⾒せつけろ岩隈</td>
</tr>
<tr>
	<th class="p_num">22</th>
	<th class="p_name">小林誠司</th>
	<td>今魅せろ強肩を 扇の要 夢バットに託し 戦え小林</td>
</tr>
<tr>
	<th class="p_num">23</th>
	<th class="p_name">野上亮磨</th>
	<td>勝利を掴め 技を磨き上げ 巨人の誇り 胸に立ち向かえ</td>
</tr>
<tr>
	<th class="p_num">24</th>
	<th class="p_name">大城卓三</th>
	<td>鋭いまなざし 満ちあふれる男気 魅せろパワー フルスイング ぶち込め大城</td>
</tr>
<tr>
	<th class="p_num">25</th>
	<th class="p_name">岡本和真</th>
	<td>【前奏：歴史を築け 岡本和真「オ・カ・モト！」】<br>
		夢あふれるフィールド その名刻め岡本 スタンド湧かす 永遠のアーチ</td>
</tr>
<tr>
	<th class="p_num">26</th>
	<th class="p_name">高橋優貴</th>
	<td>届け我らのエール 信じて一球入魂 駆け上がれこのスターダム 髙橋優貴 勝ち抜け</td>
</tr>
<tr>
	<th class="p_num">27</th>
	<th class="p_name">炭谷銀仁朗
	</th>
	<td>強背中で語る 漢の生き様 恐れずに突き進み 輝け銀仁朗</td>
</tr>
<tr>
	<th class="p_num">28</th>
	<th class="p_name">田口麗斗</th>
	<td>夢に見た舞台 今日も守り抜け いつでもスマイル魅せて 麗しく</td>
</tr>
<tr>
	<th class="p_num">29</th>
	<th class="p_name">吉川尚輝</th>
	<td>好守に巧打 結果を見せつけて 輝く道を 駆け抜けろ尚輝</td>
</tr>
<tr>
	<th class="p_num">31</th>
	<th class="p_name">畠世周</th>
	<td>勝利を重ね 歴史を刻め 掴め今日の星 熱いぜ畠 世に名を馳せて 行こうぜどこまでも
	</td>
</tr>
<tr>
	<th class="p_num">35</th>
	<th class="p_name">桜井俊貴</th>
	<td>鍛え上げた剛腕 力を込めたストレート 三振を奪い取れ 決めろ桜井</td>
</tr>
<tr>
	<th class="p_num">36</th>
	<th class="p_name">石川慎吾</th>
	<td>豪快スイングで お前が打線の起爆剤 我等の導火線に 火をつけてくれ慎吾</td>
</tr>
<tr>
	<th class="p_num">37</th>
	<th class="p_name">若林晃弘</th>
	<td>夢は大きく高らかに 輝け「晃弘!」 まだ見ぬ境地目指して 全力で突っ走れ</td>
</tr>
<tr>
	<th class="p_num">39</th>
	<th class="p_name">立岡宗一郎</th>
	<td>立ち向かえ 羽ばたけ 夢と希望握りしめ バットで脚でGO! GO! GO! かき回せ</td>
</tr>
<tr>
	<th class="p_num">42</th>
	<th class="p_name">メルセデス</th>
	<td>メルセデス メルセデス ギアを上げて C.C.メルセデス　アクセル全開</td>
</tr>
<tr>
	<th class="p_num">43</th>
	<th class="p_name">重信慎之介</th>
	<td>風をその背に受け 駆け抜けろ重信 突撃進撃 疾風迅雷</td>
</tr>
<tr>
	<th class="p_num">46</th>
	<th class="p_name">鍬原拓也</th>
	<td>努力と希望の道 忘れず進め 想い胸に ここから切り拓け</td>
</tr>
<tr>
	<th class="p_num">51</th>
	<th class="p_name">田中俊太</th>
	<td>ボールに乗せた 僕らの希望 俊太が打ち高く高く 未来描く</td>
</tr>
<tr>
	<th class="p_num">56</th>
	<th class="p_name">山本泰寛</th>
	<td>勝負のこの舞台で いざ舞え駆け回れ 仲間と己を信じ 泥臭く華麗に</td>
</tr>
<tr>
	<th class="p_num">58</th>
	<th class="p_name">宮國椋丞</th>
	<td>夢、球に乗せ まばゆい笑顔 琉球の星ちばりよ キラめけ宮國</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">ヒッターズテーマA</A></th>
	<td>お前の出番 ゆくぞ 敵を打ち砕け 巨人に勝利の旋風 巻き起こせよ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">ヒッターズテーマB</th>
	<td>海越え 僕らのためにやってきた Let's Fight○○! Let's Charge○○! ホームラン</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">ピッチャーズテーマ1</th>
	<td>まぶしく輝け「○○！」 この時に 勝負さ今こそ つかめよ 勝利の星</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">ピッチャーズテーマ2</th>
	<td>行け火消しだリリーフよ 消せ火の粉をリリーフよ 牙をむいて立ち向かえよ 男の出番</td>
</tr>

</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="{% url 'top' %}">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
