{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>埼玉西武ライオンズ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="lio">埼玉西武ライオンズ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">1</th>
	<th class="p_name">栗山巧</th>
	<td>勝利に向かって 進め今こそ 生み出せチャンスを いざ栗山</td>
</tr>
<tr>
	<th class="p_num">2</th>
	<th class="p_name">岡田雅利</th>
	<td>
		魅せろ岡田 打ちまくれプライドかけて熱くなれ 敵を蹴散らせ 薙ぎ倒せ度胸魅せろ岡田<br>
	</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">山川穂高</th>
	<td>山川穂高ここで一発 高らかにアーチ描こうぜ 皆の願いバットにのせて 飛ばせ遥か彼方まで
	</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">外崎修汰</th>
	<td>
		駆け上がれ 夢の舞台へ 無我夢中に 走れ早く みてみたいな 夢中になれる君 いくぞ前進 その先へと
	</td>
</tr>
<tr>
	<th class="p_num">6</th>
	<th class="p_name">源田壮亮</th>
	<td>【前奏：この場所で 輝け 魅せろ壮亮】<br>
		泥にまみれて 培った 今ここで魅せろ 源田の力<br>
	</td>
</tr>
<tr>
	<th class="p_num">7</th>
	<th class="p_name">金子侑司</th>
	<td>ラーラララー ラーラララーラー ラーラララー ラーララー<br>
		走れ金子 さあ一歩踏み出して その瞬間を掴め</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">木村文紀</th>
	<td>心に秘めた想いを フルスイングでぶちかませ 継続は力になるから 自分を信じて突っ走れ</td>
</tr>
<tr>
	<th class="p_num">10</th>
	<th class="p_name">森友哉</th>
	<td>無限に昇る 華を此処で咲かせろ 日本を背負う侍 戦いの時だ</td>
</tr>
<tr>
	<th class="p_num">32</th>
	<th class="p_name">戸柱恭孝</th>
	<td>バットに込めた気持ち 打ち放てよ その願いは大空へ 永江恭平</td>
</tr>
<tr>
	<th class="p_num">58</th>
	<th class="p_name">熊代聖人</th>
	<td>速球貫け 打て進め ギアを上げて 加速しろ 魅せろ熊代</td>
</tr>
<tr>
	<th class="p_num">60</th>
	<th class="p_name">中村剛也</th>
	<td>その胸を焦がす 炎のままに 気迫で打ち抜くんだ バックスクリーン</td>
</tr>
<tr>
	<th class="p_num">99</th>
	<th class="p_name">メヒア</th>
	<td>エルネストメヒア ホームランキング ララララララー<br>
		エルネストメヒア ホームランキング ララララララー<br>
		エルネストメヒア ラーラーララーラーラ エルネストメヒア ララララー<br>
		エルネストメヒア ラーラーララーラーラ エルネストメヒア ララララー</td>
</tr>

<tr>
	<th class="p_num"></th>
	<th class="p_name">野手汎用A</th>
	<td>夢を見た この世界で 勝利の雄叫び上げろ 若獅子の力を 見せてくれ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">野手汎用B</th>
	<td>流した汗はすべて 努力の結晶だ がむしゃらに掴めチャンス いけ! ○○!</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手汎用</th>
	<td>気持ちと技で 真っ向勝負 敵を倒し我らを 勝利へ導け</td>
</tr>

</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
