{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>千葉ロッテマリーンズ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="{% url 'top' %}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		</ul>
		</nav>
		<!--小さな端末用（800px以下端末）メニュー-->
		<nav id="menubar-s" style="display: none;">
		<ul>
		<li><a href="{% url 'top' %}">ホーム<span>HOME</span></a></li>
		<li><a href="post">投稿<span>POST</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="mar">千葉ロッテマリーンズ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">0</th>
	<th class="p_name">荻野貴司</th>
	<td>ラララ… 駆け抜けろホームまで 荻野貴司<br>
		オイ! オイ! オイ! オイ! オイ! オイ! 打て荻野貴司!<br>
		ラララ… 駆け抜けろホームまで 荻野貴司</td>
</tr>
<tr>
	<th class="p_num">1</th>
	<th class="p_name">清田育宏</th>
	<td>
		Go! 清田清田 全力で飛ばせ Go! 清田清田 全力で走れ ラララ… 今こそ清田育宏 大空高く<br>
	</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">角中勝也</th>
	<td>ララララ角中 ララララ角中 さあ戦え 角中 勝利へ導け 栄光の時を目指して</td>
</tr>
<tr>
	<th class="p_num">4</th>
	<th class="p_name">藤岡裕大</th>
	<td>
		ラララ… 行け 藤岡裕大 夢見たその先へ 勝利を呼ぶ一打 今放て
	</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">中村奨吾</th>
	<td>【前奏：奨吾 奨吾 中村奨吾 熱く燃えろよ 奨吾】<br>
		奨吾 奨吾 中村奨吾 魂込めた一打を魅せろオオ 奨吾 奨吾 中村奨吾 熱く燃えろよ 奨吾<br>
	</td>
</tr>
<tr>
	<th class="p_num">10</th>
	<th class="p_name">加藤翔平</th>
	<td>駆け抜けろ強く勝利を目指して 光を放つ 君の勇姿 加藤翔平 加藤翔平 飛びたて翔平 彼方まで</td>
</tr>
<tr>
	<th class="p_num">13</th>
	<th class="p_name">平沢大河</th>
	<td>ラララ… 平沢大河 今日も俺達に勝利運べよ<br>
		ラララ… 平沢大河 今日も俺達に勝利運べよ<br>
		オイ! オイ! オイ! オイ! オイ! 飛ばせ平沢大河!<br>
		</td>
</tr>
<tr>
	<th class="p_num">22</th>
	<th class="p_name">田村龍弘</th>
	<td>[1]ラララ… さぁ魅せろ男田村 ラララ…さぁ燃えろ男田村<br>
		[2](歌詞無し)</td>
</tr>
<tr>
	<th class="p_num">25</th>
	<th class="p_name">三木亮</th>
	<td>オイ! 三木亮 未来へ続く扉 今開けろ</td>
</tr>
<tr>
	<th class="p_num">25</th>
	<th class="p_name">岡大海</th>
	<td>オイ! 岡大海! 勝利を掴め</td>
</tr>
<tr>
	<th class="p_num">39</th>
	<th class="p_name">吉田裕太</th>
	<td>ララララ吉田 ララララ吉田 ホームを守るんだ ララララ吉田 ララララ吉田 さあここで打て</td>
</tr>
<tr>
	<th class="p_num">44</th>
	<th class="p_name">井上晴哉</th>
	<td>ラララ井上晴哉 ラララホームラン井上晴哉 打てよ今ここで ラララ…井上晴哉</td>
</tr>
<tr>
	<th class="p_num">53</th>
	<th class="p_name">江村直也</th>
	<td>オイ! オイ! オイ! 闘魂たぎらせ 燃えろよ江村</td>
</tr>
<tr>
	<th class="p_num">54</th>
	<th class="p_name">レアード</th>
	<td>オイ! オイ! オイ!<br>
		レッツゴー レアード オーオオー<br>
		レッツゴー レアード オーオオー</td>
</tr>
<tr>
	<th class="p_num">59</th>
	<th class="p_name">細谷圭</th>
	<td>oh yeah 細谷圭 細谷圭 oh-oh<br>
		oh yeah 細谷圭 細谷圭 oh-oh</td>
</tr>
<tr>
	<th class="p_num">79</th>
	<th class="p_name">マーティン</th>
	<td>バモス マーティン ラララララ<br>
		レオネス マーティン ララララ</td>
</tr>
<tr>
	<th class="p_num">127</th>
	<th class="p_name">高濱卓也</th>
	<td>ラーララララ高濱! ラーララララ高濱! 湧き上がるその闘志 今だ解き放て高濱</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">若手汎用</th>
	<td>汗をかいて 涙を流し くじけずに頑張ってみろよ そしたらあしたへの答えが見えてくるだろう</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">野手汎用</th>
	<td>信じるその道 突き進めよ 情熱無限 豪打無敵 さぁ立ち向かえ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">捕手汎用</th>
	<td>オイ! 行け行け○○ オイ! そーれ!</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手汎用</th>
	<td>○○! ○○! 驚きの一撃で ヒーロー独り占め</td>
</tr>
</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="{% url 'top' %}">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
