{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>東京ヤクルトスワローズ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>
<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s" style="display: none;">
	<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="swa">東京ヤクルトスワローズ　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">00</th>
	<th class="p_name">奥村展征</th>
	<td>見せろ勝利へと誘う　熱いプレー　放て気持ち込めて　恵まれしセンスで</td>
</tr>
<tr>
	<th class="p_num">0</th>
	<th class="p_name">藤井亮太</th>
	<td>
		数々の試練を　忍ぶる心が　輝きへと我ら導く　礎となれ<br>
	</td>
</tr>
<tr>
	<th class="p_num">1</th>
	<th class="p_name">山田哲人</th>
	<td>(前奏：「山田哲人！」「山田哲人！」　夢へと続く道　「山田！」)<br>
		スタンド越えて打球は　遥かな夢へと続く　行け山田　新たな時代を</td>
</tr>
<tr>
	<th class="p_num">2</th>
	<th class="p_name">エスコバー</th>
	<td>
		(ファンファーレ：ここまで飛ばせ (※) 　エスキー　ホームラン　ホームラン　エスキー　「エスキー！」)<br>
		新たな風吹かし　栄光掴むんだ　みなぎる熱い闘志　さあ共に闘おう<br>
		※ 外野にスワローズ応援席がない球場(マツダスタジアム等)<br>
		ここまで飛ばせ → レフトへぶち込め
	</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">西浦直亨</th>
	<td>道を切り開くため　迷わず立ち向かう　光り輝く未来目指し　今踏み出せ<br>
	</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">川端慎吾</th>
	<td>バットに夢をのせ　放つその打球で　ツバメを勝利へ　導け慎吾<br>
		【チャンス川端】<br>
		(メロディー)　オーオオオー　(メロディー)　「慎吾！」<br>
		(メロディー) 「慎吾！」　(メロディー) 「慎吾！」　(メロディー)<br>
		(間奏：メロディーに合わせて「オイ！」の合いの手を入れる)
	</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">中山翔太</th>
	<td>鋼の如く　強き覚悟　己の真髄を　極め続けろ</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">塩見泰隆</th>
	<td>宿す魂　その剣(つるぎ)に乗せ　風を切り裂き　鮮やかに駆ける</td>
</tr>
<tr>
	<th class="p_num">10</th>
	<th class="p_name">荒木貴裕</th>
	<td>君の熱い思いと　スタンドの期待を乗せた　打球が描く軌道は　夢への懸け橋</td>
</tr>
<tr>
	<th class="p_num">23</th>
	<th class="p_name">青木宣親</th>
	<td>（ファンファーレ：ここで勝利を呼べ　行くぞ青木宣親　「青木！」)<br>
		皆と共に　描いた未来を掴むため　愛すチームで　更なる伝説築け</td>
</tr>
<tr>
	<th class="p_num">30</th>
	<th class="p_name">西田明央</th>
	<td>君の力が　希望もたらす　勝利へ向かって　放て明央</td>
</tr>
<tr>
	<th class="p_num">31</th>
	<th class="p_name">山崎晃大朗</th>
	<td>光求め駆け抜ける　その誇り胸に　頂を目指し進めよ　山崎晃大朗</td>
</tr>
<tr>
	<th class="p_num">36</th>
	<th class="p_name">廣岡大志</th>
	<td>大空へと願い込めて　その翼広げ　蒼き丘に立つ勇姿よ　大志抱け</td>
</tr>
<tr>
	<th class="p_num">42</th>
	<th class="p_name">坂口智隆</th>
	<td>不屈の魂で　再び挑み　新たな歴史を刻め　魅せろ坂口</td>
</tr>
<tr>
	<th class="p_num">45</th>
	<th class="p_name">嶋基宏</th>
	<td>新たな場所で　今甦れ　嶋が培ってきた　底力</td>
</tr>
<tr>
	<th class="p_num">46</th>
	<th class="p_name">太田賢吾</th>
	<td>勝利を信じる声が　こだまするこの地で　今光る君の一打　快音を響かせて</td>
</tr>
<tr>
	<th class="p_num">50</th>
	<th class="p_name">上田剛史</th>
	<td>期待背負い今　シャープに放てよ上田　風を切り走れ　歓喜の輪の中へ</td>
</tr>
<tr>
	<th class="p_num">55</th>
	<th class="p_name">村上宗隆</th>
	<td>(前奏：闘志あふれる一打　今こそ放てよ「村上！村上！村上！村上！」)<br>
		選ばれし猛者集う地で　強く咲く大輪　肥後より携えし力　今こそ解き放て
		</td>
</tr>
<tr>
	<th class="p_num">63</th>
	<th class="p_name">井野卓</th>
	<td>磨き上げた技と　その熱いハートで　我らを導けいざ　勝利の道へと</td>
</tr>

<tr>
	<th class="p_num"></th>
	<th class="p_name">右打者汎用テーマ</th>
	<td>オイ！　オイ！　「○○(選手名)」　オイ！　オイ！　そーれ
	</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">左打者汎用テーマ</th>
	<td>頼むぞ○○(選手名)　ここでホームラン　今だ一発ぶちかませ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">捕手汎用テーマ</th>
	<td>大きな希望と　期待を背に受け　大きく羽ばたけ　未来(あす)を描け</td>
</tr>

<tr>
	<th class="p_num"></th>
	<th class="p_name">外国人野手汎用テーマ</th>
	<td>新たな風吹かし　栄光掴むんだ　みなぎる熱い闘志　さあ共に闘おう</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手汎用テーマ</th>
	<td>闘志燃やして攻めろよ　投打に輝き放て　勝利をその手で　掴み取れ</td>
</tr>

</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
