{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>阪神タイガース</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<script type="text/javascript" src="{% static 'js/openclose.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	

<header>
	<div class="inner">
	<h1 id="logo"><a href="top"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
	</div>
</header>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
	<ul class="inner">
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>
<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s" style="display: none;">
	<ul>
		<li><a href="top">ホーム<span>HOME</span></a></li>
		<li><a href="link">リンク<span>LINK</span></a></li>
		<li><a href="about">このサイトについて<span>ABOUT</span></a></li>
	</ul>
</nav>

<div id="contents" class="inner">
<div id="contents-in">

<div id="main">

<section>

<h2 class="tig">阪神タイガース　応援歌
</h2>


<table class="ta1">
<tr>
	<th class="p_num">00</th>
	<th class="p_name">上本博紀</th>
	<td>Oh! Oh! 博紀 上本博紀 猛虎の嵐よ今こそ 吹き荒れろ</td>
</tr>
<tr>
	<th class="p_num">0</th>
	<th class="p_name">木浪聖也</th>
	<td>
		熱き心 乗せたスイング 行くぞ木浪 勝利目指せ<br>
	</td>
</tr>
<tr>
	<th class="p_num">2</th>
	<th class="p_name">北條史也</th>
	<td>この道の先には 虎の希望がある 今こそ進めよ 燃えろ北條</td>
</tr>
<tr>
	<th class="p_num">3</th>
	<th class="p_name">大山悠輔</th>
	<td>
		悠然と振り構えたバットに 我らの夢を乗せて スタンドへはじき返せ 栄光つかむその日まで
	</td>
</tr>
<tr>
	<th class="p_num">5</th>
	<th class="p_name">近本光司</th>
	<td>切り拓け 勝利への道 打てグラウンド駆けろ 燃えろ近本<br>
	</td>
</tr>
<tr>
	<th class="p_num">7</th>
	<th class="p_name">糸井嘉男</th>
	<td>【前奏：輝く栄冠 突き進めこの道】<br>
		鋭いまなざし 猛虎の魂 力の限り 戦え糸井</td>
</tr>
<tr>
	<th class="p_num">8</th>
	<th class="p_name">福留孝介</th>
	<td>唸るスイング 切り裂くアーチ ほえろ孝介 勝負を決めろ</td>
</tr>
<tr>
	<th class="p_num">9</th>
	<th class="p_name">髙山俊</th>
	<td>行くぞ白球乗せて 切り拓け 魅せろ高山熱き 猛虎魂/td>
</tr>
<tr>
	<th class="p_num">12</th>
	<th class="p_name">坂本誠志郎</th>
	<td>狙いを定め 強気で攻めろ お前の時代を築け さぁぶちかませ</td>
</tr>
<tr>
	<th class="p_num">14</th>
	<th class="p_name">能見篤史</th>
	<td>鉄の左腕が 唸りを上げる 任せたぞ この勝負 今こそ決めろ</td>
</tr>
<tr>
	<th class="p_num">25</th>
	<th class="p_name">江越大賀</th>
	<td>迫る速球に 魂で応えろ 打球をはるか彼方へ 飛ばせ江越</td>
</tr>
<tr>
	<th class="p_num">31</th>
	<th class="p_name">マルテ</th>
	<td>力の限り 魅せろよマルテ 打てよ遥か遠く Let’s Go Let’s Go マルテ</td>
</tr>
<tr>
	<th class="p_num">33</th>
	<th class="p_name">糸原健斗</th>
	<td>【A】誰にも劣らぬ ハートの強い男 我武者羅に走り抜け 果敢な戦士<br>
		【B】凛々しく 泥臭く 斬り込め全力で 気力込めて 今ここで 燃えさかれ</td>
</tr>
<tr>
	<th class="p_num">41</th>
	<th class="p_name">ボーア</th>
	<td>豪快なパワーで 魅せろ ジャスティン・ボーア 飛ばせ遥か遠く 勝利の為に</td>
</tr>
<tr>
	<th class="p_num">44</th>
	<th class="p_name">梅野隆太郎</th>
	<td>気迫のスイング 燃えろよ梅野 どでかいアーチ 勝利への一撃</td>
</tr>
<tr>
	<th class="p_num">51</th>
	<th class="p_name">伊藤隼太</th>
	<td>日々の努力を積み重ね 今迎えるこの舞台 歓喜呼び込むその姿 隼太の独壇場</td>
</tr>
<tr>
	<th class="p_num">52</th>
	<th class="p_name">サンズ</th>
	<td>打て飛ばせジェリー 力強い一打 レフトへライトへ ホームランジェリー</td>
</tr>
<tr>
	<th class="p_num">55</th>
	<th class="p_name">陽川尚将</th>
	<td>スタンド目指し描く 放物線 逆風切り裂くパワー 行くぞ勝利へ</td>
</tr>
<tr>
	<th class="p_num">60</th>
	<th class="p_name">中谷将大</th>
	<td>【前奏：ラーラララー…】<br>
		天高く 打ち込め中谷 いざ大空に アーチ描け</td>
</tr>
<tr>
	<th class="p_num">68</th>
	<th class="p_name">俊介</th>
	<td>俊足巧打の 走る稲妻 さあ行け俊介 今駆け抜けろ</td>
</tr>
<tr>
	<th class="p_num">94</th>
	<th class="p_name">原口文仁</th>
	<td>ここに立つ為に 鍛え抜いた日々よ 原口のすべて 魅せろ奮わせろ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">外国人選手二番</th>
	<td>強く高くボール飛ばせ レッツゴー○○○ さあ行くぞ勝利へ 進め進め進め</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">捕手汎用</th>
	<td>虎の扇の要 炎を巻き上げ 燃える一撃を 叩きこめ</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">野手汎用</th>
	<td>かっとばせ○○ かっとばせ○○ かっとばせ○○ ○○ ○○</td>
</tr>
<tr>
	<th class="p_num"></th>
	<th class="p_name">投手汎用</th>
	<td>かっとばせ○○ かっとばせ○○ かっとばせ○○ かっとばせ○○</td>
</tr>
</table>

</section>

</div>
<!--/#main-->

<div id="sub">

<nav>
	<h2>セ・リーグ</h2>
	<ul class="submenu">
	<li><a href="giants">巨人</a></li>
	<li><a href="baystars">DeNA</a></li>
	<li><a href="tigers">阪神</a></li>
	<li><a href="carp">広島</a></li>
	<li><a href="dragons">中日</a></li>
	<li><a href="swallows">ヤクルト</a></li>
	</ul>
	</nav>
	
	<nav>
	<h2>パ・リーグ</h2>
	<ul class="submenu">
	<li><a href="lions">西武</a></li>
	<li><a href="hawks">ソフトバンク</a></li>
	<li><a href="eagles">楽天</a></li>
	<li><a href="marines">ロッテ</a></li>
	<li><a href="fighters">日本ハム</a></li>
	<li><a href="buffaloes">オリックス</a></li>
	</ul>
</nav>

<!--/#sub-->

</div>
<!--/#contents-in-->

<div id="side">




</div>
<!--/#side-->

</div>
<!--/#contents-->

<footer>


<div id="copyright">
<small>Copyright&copy; <a href="top">プロ野球選手 応援歌</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--小さな端末用（800px以下端末）メニュー-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
